<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Secure URL Classifier</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
 <div class="page">
     <h1>URL Classification Application</h1>
     <p>Classify URL into 5 Classes</p>
     <form if="form" action="{{ url_for('predict')}}"method="POST">
         <input type="text" name="URL" placeholder="URL" required="required" /><br>
         <h2 class='res'>{{inputvalue}} {{prediction}}</h2>
         <br> <h3>{{information}} </h3>
         <button id="button" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

   <br>
   <br>


 </div>


</body>
</html>
